<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formatted</title>
</head>
<style>
   
    .subheading{
        text-align: center;
        
    }
    .textarea{
        text-align: center;
        
    }
</style>
<body>
    <h1 style="text-align: center;font-size: 60px;"><u>Text Editor</u></h1>
    <h2 style="text-align: center;">Your text is formatted - {{purpose}} .</h2>
    <hr>
    
        <textarea name="textdata" style="width: 1262px; height: 250px;margin: 20px 180px;" >{{data}}</textarea><br>
        <button><a href='/editor'>Return</a></button>
        
        
</body>
</html>